{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/index.css">
    <!-- <link rel="stylesheet" href="../static/css/login.css"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <title>Railway Reservation System</title>
</head>

<body>
    <header>
        <div class="nav">
            <span>
                <img width="55" height="55"
                    src="https://img.icons8.com/external-flatart-icons-outline-flatarticons/128/252bc2/external-train-hotel-services-and-city-elements-flatart-icons-outline-flatarticons.png"
                    alt="external-train-hotel-services-and-city-elements-flatart-icons-outline-flatarticons" />
                <p>Malabar Railway Booking Portal</p>
            </span>
            <span>
                <a href="/register">
                    <button class="register-button">
                        Register
                        <img width="25" height="25" src="https://img.icons8.com/ios/252bc2/add-user-male.png"
                            alt="add-user-male--v2" />
                    </button>
                </a>
                <a href="/login">
                    <button class="login-button">
                        Login
                        <img width="25" height="25"
                            src="https://img.icons8.com/ios-filled/ffffff/login-rounded-right.png"
                            alt="login-rounded-right" />
                    </button>
                </a>
            </span>
        </div>
    </header>
    <main>
        <div class="content">